<%- include ../../components/header.ejs %>
    <%- include ../../components/navbar.ejs %>
        <%- include ../../components/sidebar.ejs %>

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>payment</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/payment">Payment</a></li>
                                    <li class="breadcrumb-item active">Ubaj</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-body">
                                    <!-- left column -->
                                    <div class="col-md-12">
                                        <!-- general form elements -->
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Form ubah jenis pembayaran "
                                                    <%= payment.type %>"</h3>
                                            </div>

                                            <form action="/payment/edit/<%= payment._id %>?_method=PUT " method="POST">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="type">Type</label>
                                                        <input type="text" name="type" class="form-control" id="type" placeholder="Masukkan nama game" value="<%= payment.type %> " required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="banks">Bank</label>
                                                        <select class="form-control select2" style="width: 100%" name="banks" required>
                                                            <% banks.forEach(bank => { %>
                                                                <option value="<%= bank._id %> "
                                                                    <% payment.banks.forEach(paymentBank => { %>
                                                                        <% if (bank._id.toString() === paymentBank._id.toString()) { %>
                                                                         selected
                                                                        <% } %>
                                                                       <% }) %>    
                                                                       >
                                                                       <%= bank.name %>-<%= bank.nameBank %>-<%= bank.noRekening %>  >
                                                                </option>
                                                             
                                                            <% }) %>
                                                </select>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <%- include ../../components/footer.ejs %>
                <%- include ../../components/js.ejs %>